/*
  Built Mobile First: All Generic sizing and layouts are placed in main part of CSS. 
  All sizing and layout changes specific to screen sizes is down in media-query area.
  All color based things are seperate to allow for tweaking later out.
*/

/**********************************
GENERAL
***********************************/


/**********************************
NAVIGATION 
***********************************/



/**********************************
HEADER
***********************************/


/**********************************
MAIN CONTENT
***********************************/


/**********************************
FOOTER - Layout and Sizing
***********************************/


/**********************************
PAGE: _______
***********************************/



/**********************************
FONTS
***********************************/
h2{
  font-family: 'Satisfy', cursive;
  text-size:100px;
  text-size:bold;
  text-align:center;
  color:red;
}

body{
  text-size:25px;
 background-color:004503;
 color:#FF8800;
 
 
}
article{
  color:;
}

.portrait {
  width:250px;
  height:250px;
  color:;
}

/**********************************
COLORS and BACKGROUNDS
Color 1:
Color 1:
Color 1:
Color 1:
Color 1:
***********************************/